@helper LiList(IEnumerable<string> arr)
    {
        <ul>
            @foreach (string item in arr)
            {
                <li>
                    <span class="badge badge-info">
                        @item
                    </span>
                </li>
            }
        </ul>
}