@{
    ViewBag.Title = "TeleCalc";
    var x = ViewBag.X;
    var y = ViewBag.Y;
    var result = ViewBag.Result;
    string operName = ViewBag.OperName;
    var opers = ViewBag.operations;
}

<h2>ITUniver TeleCalc</h2>

<div>
    <b>@Html.Partial("Operation", operName)</b> (@x, @y) = @(result)
</div>