@{
    ViewBag.Title = "Index";
    var x = ViewBag.X;
    var y = ViewBag.Y;
    var result = ViewBag.Result;
    var operName = ViewBag.OperName;
}

<h2>ITUniver TeleCalc</h2>

<div>
    <b>@operName</b> (@x, @y) = @(result)
</div>